/**{
	border:solid 1px black;
}
*/
body {
	background-color: #c0bcb2;
}

.nav {
	color: black;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}





#banner{
	height: 33%;
	/*background-size: 100%;
	backgsround-image:url("../img/navimg.png");*/ 
	max-height: 100%; 
	width: 100%;
	margin-right: 15px;
	margin-left: -15px;


	
}

.col-md-3 {
	height: 35px;
	font-size: 25px;
	text-align: center;
	background-color: #c0bcb2;
	font-family: verdana;
}

.col-md-3:hover{
	background-color: #555f53;
	color: white;
}

a:link, a:visited{
	/*text-decoration: none;*/
	color: inherit;
}

.col-md-4, .col-md-8 {
	height: 750px;
}

#sidebar {
	background-color: rgba(212, 163, 144, .5);
	height: 750px
}


.col-md-3 img {
	width: 190px;
	margin-left: 25px;
}

.col-md-4 img {
	height: 250px;
	width: 250px;
	margin-left: 95px;
}

#topimage {
	margin-left: 295px;
}


h5 {
	font-size: 20px;
	font-family: verdana;
}
h4 {
	font-family: verdana;
}
p {
	font-family: verdana;
}

.recipe {
	text-decoration: underline;
}

#main1 {
	background-image: url("../img/bgspice.jpg");
	width: 100%;
}
#main2 {
	background-image: url("../img/greek1.jpg");
	width: 100%;
}
#main3 {
	background-image: url("../img/bgcurry.jpg");
	width: 100%;
}

#main4 {
	background-image: url("../img/market.jpg");
	width: 100%;
}